* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 15px;
}
.layui-form {
  width: 500px;
}
.layui-form-label {
    float: left;
    display: block;
    padding: 9px 15px;
    width: 100px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}
